@import '../App/vars';

.cart-footer {
	display: grid;
	grid-template-columns: 5fr 3fr 4fr;
	column-gap: 30px;

	padding: 19px 0;
	background-color: #eaeff2;

	font-size: 18px;
	font-weight: 700;
	line-height: 120%; /* 21.6px */

	@media (max-width: $mobile) {
		padding-left: 15px;
		padding-right: 15px;
		grid-template-columns: 1fr 1fr;
	}
}

.cart-footer__count {
	grid-column-start: 2;

	@media (max-width: $mobile) {
		grid-column-start: 1;
	}
}
